# Python
*.pyc
__pycache__/
venv

# Go
*.go
_gopath/

#C++
BMP390
*.o
altimeter
telemetryMain
odometryMain


# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg

# Other files to ignore
*.log
*.tmp
*.bak
*.swp
*.swo
*.rej
*.orig
*.csv
.DS_Store
Thumbs.db


*.h5
