[Unit]
Description=Agrinet Service
After=network.target

[Service]
User=agrisat
ExecStart=/usr/bin/python /home/agrisat/relay/agrinet/main.py
Restart=always

[Install]
WantedBy=multi-user.target