[Unit]
Description=Health Service
After=network.target

[Service]
Type=simple
User=bxrne
WorkingDirectory=/home/bxrne/relay/health
ExecStart=/home/bxrne/relay/health/health
Restart=on-failure

[Install]
WantedBy=multi-user.target